# Rust
/target
/Cargo.lock

# Android/Gradle
.gradle/
build/
*/build/
capture/
local.properties
.idea/
*.iml
*.ap_
*.apk
*.dex
android/gradle-8.7/
android/gradle-8.7-bin.zip
android/gradle/
!android/gradle/wrapper/

# JNI LIBS (Generated)
android/app/src/main/jniLibs/

# OS
.DS_Store
Thumbs.db
